* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    background-image: url(Instagram-Features-You-Need-To-Know-About.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
}

body {
    width: 100%;
    flex-direction: row-reverse;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-clip: content-box, padding-box;
}

.instagram-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.instagram-login,
.instagram-logout,
.instagram-logo,
.not-account,
.link-blue {
    flex-direction: column;
    background-image: linear-gradient(to bottom, rgba(243, 243, 243, 243) 0%, rgba(243, 243, 243, 243) 100%);
    background-clip: content-box, padding-box;
}

.instagram-logo {
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 50%;
    max-width: 40%;
    height: auto;
    width: auto;
}

.instagram-continue {
    background: rgb(243, 243, 243);
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column-reverse;
    width: 50%;
    min-height: 10rem;
}

.group {
    background: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    background-color: rgb(243, 243, 243);
    padding: 1.3rem 0;
    border: 1px solid gray;
}

.group:nth-child(1) {
    min-width: 19rem;
    flex-direction: column;
}

.group:nth-child(2) {
    width: 50%;
}

.instagram-login {
    margin: 2%;
    background-color: #0095f6;
    color: black;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
    flex-direction: column;
}

.link-blue {
    color: #0095f6
}

.get-the-app {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.get-app {
    font-weight: bold;
    color: white;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}


/*
.app-download {
    height: 4rem;
    width: 10rem;
    background-size: cover;
}*/

.instagram-imagem {
    margin: 1%;
    overflow: hidden;
    border-radius: 50%;
    max-height: 30%;
    max-width: 20%;
    position: relative;
}

@media (max-width: 650px) {
    .instagram-wrapper {
        width: 90%;
    }
}

@media (max-width: 650px) {
    */ {
        background-image: url(none);
        background-image: none;
    }
    body {
        background-color: #ffffff;
    }
    .instagram-wrapper {
        width: 90%;
    }
    .instagram-continue {
        width: 100%;
    }
    .group {
        border: 1px solid transparent;
    }
}